/* General Styles */
body.main-content {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #85b0c9;
}

/*alignment of the pictures*/
#image-gallery {
    text-align: left;
}
/* Search Bar Styles */
#searchbar{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin:20px;
}

#searchbar input[type="text"] {
    padding: 5px;
    width: 200px;
}
#searchbar button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

/* Navigation Bar */
nav {
    background-color: #333;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}
/* Main Content */
main {
    padding: 2rem;
}

/* Section Styles */
section {
    margin-bottom: 2rem;
}

/* Footer Styles */
footer {
    background-color: #f4f4f4;
    padding: 1rem;
    text-align: center;
}

img {
    max-width: 20%;
    height: auto;
}